<ion-view title="New session">
  <ion-nav-buttons side="right">
      <button class="button button-clear icon ion-ios7-cloud-upload" ng-click="upload()" ng-disabled="uploadDisabled"></button>
      <span class="count-badge" ng-show="totalFiles">{{totalFiles}}</span>
  </ion-nav-buttons>
  <div class="status slide" ng-class='{"status-success-visible": uploadSucceded, "status-error-visible": uploadErrored}'>{{uploadMessage}}</div>
  <ion-content class="center-child" has-header="true" padding="true">
    <div class="speedometer-container">
        <div class="instrument">
            <small class="icon-left ion-ios7-speedometer"> max speed</small><br/>
            <div class="instrument-figure"> <span>{{session.maxSpeed}}</span> <small>km/h</small></div>
        </div>
        <div class="instrument">
            <small class="icon-left ion-ios7-speedometer-outline"> curr. speed</small><br/>
            <div class="instrument-figure"> <span>{{session.curSpeed}}</span> <small>km/h</small></div>
        </div>
        <div class="instrument">
            <small class="icon-left ion-ios7-stopwatch-outline"> duration</small><br/>
            <div class="instrument-figure no-units"> <span>{{session.elapsed}}</span> <small></small></div>
        </div>
    </div>
    <div class="duration-container">
    </div>
    <play-stop-button class="play-button" click-handler="recording"></play-stop-button>
  </ion-content>
</ion-view>