.center-child {
  .scroll {
    left: 50%;
    margin-left: -55px;
    margin-top: -100px;
    position: fixed;
    top: 50%; 
    .button {
      &.start-stop {
        border-radius: 50px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        width: 100px;
      }
      &.icon {
        &:before {
          font-size: 48px;
        }
      }
      &.ion-play {
        &:before {
          padding-left: 10px;
        }
      }
      &.ion-pause {
        &:before {
          padding-left: 2px;
        }
      }
    }
  }
}